
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem;
  background-color: lightseagreen;
  color: black;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 40px;
  height: 40px;
  margin-right: 0.5rem;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  background-color: white;
  padding: 0.4rem;
}

.nav-links li a {
  text-decoration: none;
  color: black;
}

.nav-links li a:hover {
  text-decoration: underline;
}



.search-bar-container {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1; 
  max-width: 600px; 
  margin: 0 1rem;

}

.search-bar {
  padding: 0.5rem 2.5rem 0.5rem 0.5rem; 
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%; 
  font-size: 1rem;
}

.search-icon {
  position: absolute;
  right: 0.5rem;
  color: #999;
  cursor: pointer;
}


@media (max-width: 768px) {
  .search-bar-container {
    max-width: none; 
    flex: 1; 
  }

  .search-bar {
    width: 100%; 
  }

  }




.profile-cart {
  display: flex;
  gap: 0.4rem;
  height: auto;
}

.profile-button,
.cart-button {
  background-color: lightseagreen;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 50%;
  max-width: 100%;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}

.profile-button:hover,
.cart-button:hover {
  background-color: darkseagreen;
}


.header {
  text-align: center;
  padding: 10rem;
  background-color: #f8f9fa;
  background-image: url(./components/images/ben-white-4K2lIP0zc_k-unsplash.jpg);
  background-size: cover;
}

.header h1 {
  font-size: 3rem;
  align-items: center;
}

.header p {
  font-size: 1.4rem;
}


@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 1rem;
  }

  .logo-text {
    font-size: 1.2rem;
  }

  .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0;
  }

  .nav-links li {
    margin: 0.5rem 0;
  }

  .search-bar {
    width: 100%;
    margin: 1rem 0;
  }

  .profile-cart {
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
  }

  .header {
    padding: 5rem;
  }

  .header h1 {
    font-size: 2rem;
  }

  .header p {
    font-size: 1rem;
  }
}


.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.5rem;
  padding: 0.8rem;
  flex-wrap: wrap;
  max-height: 100%;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: palegoldenrod;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  height: 95%;
  
}

.product-image {
  
  height: 230px;
  object-fit: contain;
  background: #fff;
  border-radius: 10px;
 padding: 5px;
}

.product-card h2 {
  
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  
}

.product-card p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #555;
  margin-bottom: 1px;
}

.add-to-cart { 
  display: block;
  margin-top: auto;
  padding: 0.75rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
 
 
}

.add-to-cart:hover {
  background-color: orange;
}





.cart-container {
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 2rem auto;
  max-width: 800px;
}

.cart-container h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.cart-items {
  margin-bottom: 2rem;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

.cart-item-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}

.cart-item-details {
  flex: 1;
  margin-left: 1rem;
}

.cart-item-details h2 {
  margin: 0;
  font-size: 1.2rem;
}

.remove-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
}

.remove-button:hover {
  background-color: #c82333;
}

.cart-summary {
  text-align: center;
  padding: 1rem;
  background-color: #f8f9fa;
  border-radius: 8px;
}

.cart-summary h2 {
  margin: 0 0 1rem 0;
}

.cart-summary p {
  margin: 0.5rem 0;
  
}

.checkout-button {
  background-color: black;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
}

.checkout-button:hover {
  background-color: red;
}

:root {
  --primary-light-color: hsl(148, 38%, 91%);
  --primary-medium-color: hsl(169, 82%, 27%);
  --red-color: hsl(0, 66%, 54%);
  --grey-light-color: hsl(186, 15%, 59%);
  --grey-dark-color: hsl(187, 24%, 22%);
  --white-color: hsl(0, 0%, 100%);
  --font: "Karla", sans-serif;
}

.contact-us-container {
    font-family: var(--font);
    background-color: var(--primary-light-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 70px); 
    padding: 0;
    padding: 2rem 0; 
    font-size: 16px;
    width: 100%;
}


.contact-us {
  background-color: var(--white-color);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 95%;
  max-width: 600px;
  padding: 1.75rem;
}



.title {
  font-size: 2rem;
  color: var(--grey-dark-color);
}

.contact-us-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding-top: 1rem;
  max-width: 600px;
}

.contact-us-form label {
  display: block;
  font-size: 1rem;
  text-transform: capitalize;
  color: var(--grey-light-color);
  font-weight: 400;
  margin-bottom: .5rem;
}

.contact-us-form input,
.contact-us-form textarea {
  width: 100%;
  padding: .75rem;
  border: 1px solid var(--grey-light-color);
  border-radius: 5px;
  font-size: 1rem;
}

.contact-us-form input:focus,
.contact-us-form textarea:focus {
  outline: none;
  border-color: var(--primary-medium-color);
}

.contact-us-form textarea {
  resize: none;
}

.contact-us-form .radio-button {
  display: flex;
  align-items: center;
  border: 1px solid var(--grey-light-color);
  border-radius: 5px;
  padding: .75rem;
  cursor: pointer;
}

.form-group:nth-child(1) {
  margin-right: 1.5rem; 
}

.form-group:nth-child(2) {
  margin-right: 1rem; 
}


.form-group:nth-child(3) {
  margin-right: 1rem; 
}

.form-group:nth-child(7) {
  margin-right: 1rem; 
}


.contact-us-form .radio-button input,
.contact-us-form .checkbox input {
  width: 30px;
}

.contact-us-form .checkbox {
  display: flex;
  align-items: center;
}

.contact-us-form .form-group:nth-child(1),
.contact-us-form .form-group:nth-child(5) {
  grid-column: 1/2;
}

.contact-us-form .form-group:nth-child(2),
.contact-us-form .form-group:nth-child(6) {
  grid-column: 2/3;
}

.contact-us-form .form-group:nth-child(3),
.contact-us-form .form-group:nth-child(4),
.contact-us-form .form-group:nth-child(7),
.contact-us-form .form-group:nth-child(8) {
  grid-column: span 2;
}

.contact-us-form button {
  grid-column: span 2;
  padding: .75rem;
  border-radius: 5px;
  background-color: var(--primary-medium-color);
  border: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.contact-us-form button:hover {
  background-color: hsl(169, 82%, 20%);
} 


.product-details-page {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.product-details {
  display: flex;
  flex-wrap: wrap; 
  gap: 2rem;
  margin-bottom: 2rem;
}

.product-image-section {
  flex: 1 1 300px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-details-image {
  max-width: 100%;
  max-height: 400px;
  object-fit: cover;
}

.product-info-section {
  flex: 1 1 300px; 
  display: flex;
  flex-direction: column;
}

.product-info-section h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.product-details-description {
  font-size: 1.5rem;
  color: darkslateblue;
  margin-bottom: 1rem;
  font-style: bold;
}

.product-details-price {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1rem;
}

.add-to-cart {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  background-color: orange;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: auto;
}

.add-to-cart:hover {
  background-color: #218838;
}

.product-details-container {
  padding: 20px;
}

.product-details img {
  max-width: 100%;
  max-height: 300px;
}

.product-details-info {
  flex: 1;
}

.product-details-add-to-cart {
  margin-top: auto;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.product-details-add-to-cart:hover {
  background-color: #0056b3;
}


@media (max-width: 768px) {
  .product-details-page {
    padding: 1rem;
  }

  .product-details {
    flex-direction: column;
    align-items: center; 
  }

  .product-image-section, .product-info-section {
    width: 100%; 
    flex: none;
    max-width: none; 
  }

  .product-details-image {
    max-height: 300px; 
  }

  .product-info-section h1 {
    font-size: 1.5rem; 
  }

  .product-details-description, .product-details-price {
    font-size: 1rem;
  }

  .add-to-cart {
    width: 100%; 
  }
}



.other-products-section {
  margin-top: 40px;
}

.other-products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.other-product-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: palegoldenrod;
}

.other-product-image {
  width: 180px;
  height: 260px;
}

.other-product-h2 {
  font-size: 1rem;
  margin: 10px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #333;
}

.other-product-card p {
  font-size: 1.2rem;
  color: #333;
}

.other-product-add-to-cart {
  margin-top: auto;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.other-product-add-to-cart:hover {
  background-color: orange;
}



.icon {
  font-size: 1.5rem;
  color: #333;
}



.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}


.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
}

form h2 {
  text-align: center;
  margin-bottom: 20px;
}

form div {
  margin-bottom: 15px;
}

form label {
  margin-bottom: 5px;
  font-weight: bold;
}

form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

form button:hover {
  background-color: #0056b3;
}

.modal-content p {
  text-align: center;
  color: red;
  margin-top: 10px;
}

a {
  text-decoration: none;
}

.categories-container {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.categories-container h2 {
  font-size: 2.3rem;
  text-decoration: underline;
}

.categories-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.categories-list li {
  margin: 0;
}

.category-link {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  padding: 0.5rem 1rem;
  background-color: cyan;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-size: 1.3rem;
}

.category-link:hover {
  background-color: blue;
}

